<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.locationwake">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.LocationWake">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDIRrD20Anq93_wbNNI9HGESz3UXCXXLEg" />

        <activity android:name=".Activities.AddNewLocationAttributeActivities.AddLocationActivities.AddLocationActivity" />
        <activity android:name=".Activities.AddNewLocationAttributeActivities.AddLocationActivities.AddNameLocationActivity" />
        <activity android:name=".Activities.AddNewLocationAttributeActivities.AddLocationActivities.AddLocationOverViewActivity" />
        <activity android:name=".Activities.AddNewLocationAttributeActivities.AddLocationActivities.ShowLocationActivity" />

        <activity android:name=".Activities.AddNewLocationAttributeActivities.AddAttributeActivities.AddOtherAttributeActivity" />
        <activity android:name=".Activities.AddNewLocationAttributeActivities.AddAttributeActivities.AddSettingActivity" />
        <activity android:name=".Activities.AddNewLocationAttributeActivities.AddAttributeActivities.AddDistanceActivity" />
        <activity android:name=".Activities.AddNewLocationAttributeActivities.AddAttributeActivities.AddNameAttributeActivity" />
        <activity android:name=".Activities.AddNewLocationAttributeActivities.AddAttributeActivities.AddAttributeOverViewActivity" />


        <activity android:name=".Activities.EditLocationActivities.ChangeLocationActivities.ChangeLocationActivity" />
        <activity android:name=".Activities.EditLocationActivities.ChangeLocationActivities.ChangeNameLocationActivity" />

        <activity android:name=".Activities.EditLocationActivities.ChangeAttributeActivities.ChangeDistanceActivity" />
        <activity android:name=".Activities.EditLocationActivities.ChangeAttributeActivities.ChangeNameAttributeActivity" />
        <activity android:name=".Activities.EditLocationActivities.ChangeAttributeActivities.ChangeSettingActivity" />

        <activity android:name=".Activities.SettingActivities.SettingActivity" />


        <activity android:name=".Activities.AddNewLocationAttributeActivities.ChooseAttributeOrLocation" />

        <activity android:name=".Activities.ViewLocation.ViewLocationActivity" />
        <activity android:name=".Activities.ViewLocation.LocationListActivity" />

        <activity android:name=".Activities.PermissionActivities.NotificationPermissionActivity" />
        <activity android:name=".Activities.PermissionActivities.BackgroundLocationPermissionActivity" />
        <activity android:name=".Activities.PermissionActivities.LocationPermissionActivity" /> <!-- <activity android:name=".Activities.viewLocation.ViewLocationActivity" /> -->

        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.PermissionActivities.InternetPermissionActivity" />
    </application>

</manifest>